# توكن بوت تيليجرام (إلزامي)
TOKEN=8488709370:AAFmxMMb8T6AD4E1oFRVkn-jV89LLVeg6qQ
# توكن GitHub API (اختياري)
GITHUB_TOKEN=your_github_token_here

# معرف المالك (اختياري - للصلاحيات الكاملة)
OWNER_ID=your_telegram_user_id_here

# رابط المستودع
REPO_URL=https://github.com/bdalrhmnhmzt13-glitch/bot-hamza
